# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle

# Virtual Environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Flask
.flask/

# Model files
models/*.pkl
models/*.bin

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / packaging
build/
dist/
*.egg-info/

# IDE folders
.vscode/
.idea/

# Config
*.json
